 

      <link href="../../css/login.css" rel="stylesheet" />
 
    <div class="login-card">
        <img src="../../images/heroBabayEnjojSmall.jpg" style=" display: block; margin-left: auto;margin-right: auto" />

    <h1>Log-in</h1><br>
      
  <form>
    <input type="text" ng-model="userName" name="user" placeholder="User name" ng-keypress="enterPress($event)">
    <input type="password"   ng-model="Password" placeholder="Password" ng-keypress="enterPress($event)">
    <input type="button" name="login" class="login login-submit" ng-click="LoginClick()" value="login">
      <a class="button  block" href="#mainPage" data-transition="slide-left">Service Providers</a>
  </form>
    
   
</div>

 
    
     